#messages {
  width: 500px;
  height: 400px;
  margin: auto auto;
  background-color: white;
  color: #454545;
  text-align: left;
  border-radius: 5px;
  padding: 20px;
}

#messages li {
  list-style-type: none;
  padding: 3px;
}
.footer {
  margin-top: 20px;
}

.container {
  color: white;
}
a {
  color: white;
}
.animate-inventory a:hover {
  color: black;
  cursor: crosshair;
}
#messageInput {
  width: 300px;
}
.chat-toolbar {
  margin-top: 10px;
}
.message {
  border-radius: 5px;
  margin-top: 1px;
  color: black;
}
